COMPOSE_PROJECT_NAME=gigahub
APP_NAME=GigaHub OS

POSTGRES_PASSWORD=change-this-to-a-strong-password
JWT_ACCESS_SECRET=change-this-to-a-long-random-secret
JWT_REFRESH_SECRET=change-this-to-another-long-random-secret

IMAGE_TAG=latest

API_PREFIX=api
API_VERSION=1
SWAGGER_ENABLED=false
SWAGGER_PATH=docs
THROTTLE_TTL=60000
THROTTLE_LIMIT=100

CORS_ORIGINS=https://gigahub.dyniqo.dev

WEB_PORT=18080
API_PORT=13000
